AI.DeliciousFood.Core.Common/bin
AI.DeliciousFood.Core.Common/obj
AI.DeliciousFood.Core.Data/bin
AI.DeliciousFood.Core.Data/obj
AI.DeliciousFood.Core.Model/bin
AI.DeliciousFood.Core.Model/obj
AI.DeliciousFood.Core.Server/bin
AI.DeliciousFood.Core.Server/obj
AI.DeliciousFood.Web.Client/bin
AI.DeliciousFood.Web.Client/obj
AI.DeliciousFood.Web.Manage/bin
AI.DeliciousFood.Web.Manage/obj