.members-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap; /* 防止多个div换行 */
}

.member-box {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    border: 1px solid #000; /* 边界以便于看到盒子 */
    padding: 10px;
    min-width: 150px; /* 保持div大小不变，即使内容较少 */
    height: 200px;
}

.arrow-container {
    text-align: right; /* 箭头显示在容器的右边 */
    display: none; /* 初始状态不显示，后续根据条件决定是否显示 */
}