/*弹出框*/
.toast-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1050;
}


.submit-box {
    border: 1px solid #dbdcdd;
    border-radius: 0px 3px 3px 0px;
}

    .submit-box :hover {
        background-color: #f0f0f0;
        border-radius: 0px 3px 3px 0px;
    }

.form-control:focus {
    box-shadow: 0 0 0 1px rgba(13,110,253,.25);
}

.ai-box {
    width: 100%;
    /*border:1px solid;*/
}

.ai-textbold {
    font-weight: bold;
}

/*页面上的导航栏*/
.ai-nav-bar ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.ai-nav-bar ol li {
    display: inline;
    margin-right: 8px;
}

.ai-nav-bar a {
    text-decoration: none;
}


.ai-model-width {
    max-width: 1000px !important;
}